//@background: #87FF99;
//@highlight: #5AC751;
//@border: #0DA700;
@background: gainsboro;
@highlight: #D9D9D9;
@border: gray;
@transition-time: 0.2s;

html,body
{
	margin: 0;
}

body
{
	background: @background;
	font-size: 1em;
	font-family: sans-serif;
	padding: 0 10px 10px 10px;
}

.bordered()
{
	border: @border 1px solid;
	background: white;
}

.button()
{
	height: 42px;
	width: 100px;
	margin: 5px;
	font-size: 0.8em;
	white-space: normal; // allow wrap
	.bordered();

	transition: background-color @transition-time;
	&.selected
	{
		background: @background;
	}
	
	// iOS insists on rounded corners without these
	border-radius: 0;
	-webkit-appearance: none; 

	@media (max-width: 320px)
	{
		margin: 3px;
		padding: 1px;
	}
}

.icon-button()
{
	.button();

	height: auto;
	width: auto;
	margin: 0;
	padding: 5px;
}

svg.icon
{
	height: 1em;
	width: 1em;
	display: block;
}

body > div
{
    max-width: 500px;
    margin: auto;

	header
	{
		font-weight: bold;
	}

	.control()
	{
		.bordered();
		padding: 10px;
		margin-bottom: 10px;
	}

	.upper-status-section
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 10px 0;

		a,span
		{
			&.neutral-message
			{
				color: #FF7E00; // amber
			}

			&.good-message
			{
				color: green;
			}

			&.bad-message
			{
				color: red;
			}
		}
	}

	.settings-page-button
	{
		.icon-button();

		svg
		{
			transition: transform @transition-time;
		}

		&.selected svg
		{
			transform: rotate(45deg);
		}
	}

	.settings-page-container
	{
		overflow: hidden;
		max-height: 72px;
		transition: max-height @transition-time;

		&.hidden
		{
			max-height: 0;
		}
	}

	.settings-page
	{
		// like a .control(), but without a border and that
		padding: 0 10px 10px 10px;

		button
		{
			.button();
			width: 180px;
		}
	}

	.input-form
	{
		.control();

		form > div
		{
			margin-top: 12px;
		}

		.category-section
		{
			.category-group
			{
				display: flex;
				justify-content: space-between;

				.category-button
				{
					.button();
					flex-grow: 1;
				}
			}
		}

		.text-section
		{
			input
			{
				.button();
				width: 150px;
				display: block;
				margin: 5px auto;
				text-align: center;
			}
		}

		.submit-section
		{
			display: flex;
			flex-direction: row-reverse;

			input
			{
				.button();
			}
		}
	}

	.account-status
	{
		text-align: right;

		span a
		{
			margin-left: 10px
		}
	}

	// div.expenditure-list
	// {
	// 	.control();

	// 	table
	// 	{
	// 			width: 100%;
	// 			border-collapse: collapse;

	// 			th,td
	// 			{
	// 				padding: 5px 10px;

	// 				text-align: center;

	// 				&.icon-column
	// 				{
	// 					width: 1%;
	// 				}

	// 				&.name
	// 				{
	// 					text-align: left;
	// 				}

	// 				&.size
	// 				{
	// 					text-align: right;
	// 					width: 1%;
	// 					white-space: nowrap;

	// 					@media (max-width: 450px)
	// 					{
	// 						display: none;
	// 					}
	// 				}
					
	// 				&.date
	// 				{
	// 					width: 25%;
						
	// 					@media (max-width: 950px)
	// 					{
	// 						width: 1%;
	// 					}
	// 					@media (max-width: 700px)
	// 					{
	// 						display: none;
	// 					}
	// 				}
	// 			}

	// 			tbody tr
	// 			{
	// 				border-top: @border solid 1px;

	// 				&:hover
	// 				{
	// 					background-color: @highlight;
	// 				}

	// 				&.directory
	// 				{
	// 					cursor: pointer;
	// 				}

	// 				&:not(.directory) td.icon-column svg.icon
	// 				{
	// 					cursor: pointer;

	// 					&:hover
	// 					{
	// 						fill: blue;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	//}
}
